.App {
  text-align: center;
}
.logo{
   cursor: pointer;
}
.App header{
  height: 5vh;
  background-color: bisque;
  text-align: center;
}
.App ul{
  display: flex;
  align-items: center;
  justify-content:right;
}
.App ul li a{
  font-size: 18px;
  font-weight: 600;
}
.App li{
  list-style: none;
  padding: 10px 1rem;
}



