*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.logo{
   cursor: pointer;
}
.Header{
  background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url(../img/michelangelo-azzariti-m5UH6ZbDCy8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  color: #fff;
  background-color: rgb(36, 36, 36);
  text-align: center;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(207, 207, 207);
}